.AboutUsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #266407;
}
.AboutUsPage .ContentContainer {
  width: 30%;
}
.AboutUsPage .ContentContainer .LogoContainer {
  width: 90%;
}
.AboutUsPage .ContentContainer .ComingSoonText {
  margin-top: 5%;
  font-family: 'Cabin';
  color: #ffffff;
  font-size: 2.5vw;
  font-style: italic;
  text-align: right;
}
